@use '../abstracts' as *;

@mixin appointmentSection {

    .appointmentSection{
        .container{
            width: 100%;
            height: 100vh;
            display: flex;
            // justify-content: flex-start;
            background-color: $semuColor;

            .appoLeft{
                width: 40%;
                height: 100%;
                background-image: url(../img/appointment.jpg);
                background-size: cover;
                background-repeat: no-repeat;
            }

            .appoRight{
                width: 50%;
                height: 100%;
                padding-left: 3%;
                // background-color: red;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: center;
                // align-items: center;

                .title{
                    @include mainTitle(50px, flex-start);
                }

                .tableForm{
                    // background-color: blue;
                    width: 90%;
                    
                    table{
                        width: 100%;
                        font-size: 1em;

                        tr{
                            td{
                                width: 50%;
                                padding-bottom: 10px;
                                padding-right: 10px;
                                box-sizing: border-box;

                                input, select{
                                    width: 100%;
                                    font-size: 1em;
                                    padding: 10px;
                                    box-sizing: border-box;
                                    outline: none;
                                    border: 0;
                                    border-bottom: 1px solid $lowColor;
                                    background-color: rgba(255, 0, 0, 0);
                                }

                                textarea{
                                    width: 100%;
                                    height: 100%;
                                    resize: none;
                                    font-size: 1em;
                                    padding: 10px;
                                    box-sizing: border-box;
                                    outline: none;
                                    border: 0;
                                    border-bottom: 1px solid $lowColor;
                                    background-color: rgba(255, 0, 0, 0);
                                }
                            }
                        }
                    }

                    @include btn();
                    .btn{
                        border: none;
                        background: $linearGradienButton;
                        transition: .2s ease-in;

                        &:hover{
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 1200px){

    }
    
    @media (max-width: 992px){
        .appointmentSection{
            .container{    
                .appoRight{    
                    .title{
                        // @include mainTitle(40px, flex-start);
                        // width: 50px;
                        span{
                            font-size: .8em;
                            
                            .line{
                                width: 30px;
                                height: 2px;
                            }
                        }

                        h1{
                            font-size: 2em;
                        }
                    }
    
                    .tableForm{
                        table{
                            width: 100%;
                            font-size: 1em;
                            tr{
                                td{
                                    input, select{font-size: .8em;}
    
                                    textarea{font-size: .8em;}
                                }
                            }
                        }
    
                        @include btn();
                        .btn{
                            border: none;
                            background: $linearGradienButton;
    
                            &:hover{
                                transform: scale(1.05);
                            }
                        }
                    }
                }

                .appoLeft{
                    width: 45%;
                }
            }
        }
    }
    
    @media (max-width: 768px){
        .appointmentSection{
            .container{    
                height: 800px;
                flex-direction: column;

                .appoRight{
                    width: 100%;
                    // height: 50vh;
                    max-height: 500px;
                    padding: 10%;

                    .title{
                        align-items: center;
                        // background-color: green;
                        // @include mainTitle(40px, flex-start);
                        // width: 50px;
                        span{
                            font-size: .8em;
                            margin-bottom: 15px;
                            
                            .line{
                                width: 40px;
                                height: 3px;
                            }
                        }

                        h1{
                            font-size: 2em;
                            margin-bottom: 15px;
                        }
                    }
    
                    .tableForm{
                        // background-color: blue;
                        width: 100%;
                        font-size: 1em;

                        table{
                            font-size: 1em;
                            tr{
                                width: 100%;
                                // display: flex;
                                td{
                                    width: 50%;
                                    padding: 0 0 10px 0;

                                    input, select{
                                        width: 95%;
                                        font-size: .8em;
                                    }
    
                                    textarea{font-size: .8em;}
                                }
                            }
                        }
    
                        @include btn();
                        .btn{
                            border: none;
                            background: $linearGradienButton;
    
                            &:hover{
                                transform: scale(1.05);
                            }
                        }
                    }
                }

                .appoLeft{
                    width: 100%;
                    // height: 50%;
                    max-height: 300px;
                    background-position: center;
                }
            }
        }
    }
    
    @media (max-width: 576px){
        .appointmentSection{
            .container{    
                flex-direction: column;

                .appoRight{
                    width: 100%;
                    height: 50%;
                    padding: 10%;

                    .title{
                        span{
                            font-size: .8em;
                            margin-bottom: 15px;
                            
                            .line{
                                width: 30px;
                                height: 2px;
                            }
                        }

                        h1{
                            font-size: 1.8em;
                            margin-bottom: 15px;
                        }
                    }
    
                    .tableForm{
                        // background-color: blue;
                        width: 100%;
                        font-size: 1em;

                        table{
                            font-size: 1em;
                            tr{
                                width: 100%;
                                // display: flex;
                                td{
                                    width: 50%;
                                    padding: 0 0 5px 0;

                                    input, select{
                                        width: 95%;
                                        font-size: .7em;
                                    }
    
                                    textarea{font-size: .7em;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: 390px){
        .appointmentSection{
            .container{
                .appoRight{
                    height: 500px;
                    .title{
                        span{
                            font-size: .6em;
                            
                            .line{
                                width: 30px;
                                height: 2px;
                            }
                        }

                        h1{
                            font-size: 1.4em;
                        }
                    }
    
                    .tableForm{
                        width: 100%;
                        font-size: 1em;

                        table{
                            font-size: .9em;
                        }
                    }
                }
            }
        }
    }
}