@use '../abstracts' as *;

@mixin doctorsSection() {

    .doctorSection{
        width: 100%;
        padding: 10%;
        box-sizing: border-box;
        @include section();

        .container{
            // background-color: red;

            .title{
                @include mainTitle();
            }

            .cards{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                
                .card{
                    width: 300px;
                    transition: .2s ease;
                    margin-bottom: 20px;
                    // height: 450px;
                    // background-color: greenyellow;

                    .picture{
                        width: 100%;
                        height: 300px;
                        // background-color: white;
                        background-size: cover;
                        background-position: center;
                    }

                    .docInfo{
                        // background-color: blue;
                        padding: 40px;
                        box-sizing: border-box;
                        border-right: 1.5px solid $semuColor;
                        border-left: 1.5px solid $semuColor;
                        border-bottom: 1.5px solid $semuColor;

                        p{
                            color: $lowColor;
                            font-size: .8em;
                            margin: 10px 0 30px;
                        }

                        .sosmed{
                            display: flex;
                            justify-content: space-between;
                            width: 65%;

                            .iconSosmed{
                                width: 15px;
                                height: 15px;
                                transition: .2s ease;
                                // background-color: yellow;

                                &.twit{
                                    background-image: url(../img/icon/twitter1.png);
                                    background-size: cover;
                                    &:hover{
                                        background-image: url(../img/icon/twitter2.png);
                                    }
                                }
                                &.web{
                                    background-image: url(../img/icon/global1.png);
                                    background-size: cover;
                                    &:hover{
                                        background-image: url(../img/icon/global2.png);
                                    }
                                }
                                &.facebook{
                                    background-image: url(../img/icon/facebook1.png);
                                    background-size: cover;
                                    &:hover{
                                        background-image: url(../img/icon/facebook2.png);
                                    }
                                }
                                &.ig{
                                    background-image: url(../img/icon/instagram1.png);
                                    background-size: cover;
                                    &:hover{
                                        background-image: url(../img/icon/instagram2.png);
                                    }
                                }

                                &:hover{
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                    
                    &.card1{.picture{background-image: url(../img/doctor1.png);}}
                    &.card2{.picture{background-image: url(../img/doctor2.png);}}
                    &.card3{.picture{background-image: url(../img/doctor3.png);}}
                    &.card4{.picture{background-image: url(../img/doctor4.png);}}
                    &.card5{.picture{background-image: url(../img/doctor5.png);}}
                    &.card6{.picture{background-image: url(../img/doctor6.png);}}
                
                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
        }
    }

    @media (max-width: 1200px){
        .doctorSection{
            .container{
                .cards{
                    .card{
                        width: 250px;

                        .picture{
                            height: 250px;
                        }
                        
                        .docInfo{
                            padding: 30px;

                            h2{
                                font-size: 1.3em;
                            }
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: 992px){
        .doctorSection{
            .container{
                .cards{
                    .card{
                        width: 200px;

                        .picture{
                            height: 200px;
                        }
                        
                        .docInfo{
                            padding: 20px;

                            h2{
                                font-size: 1.3em;
                            }
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: 768px){
        .doctorSection{
            padding: 5%;

            .container{
                .cards{
                    .card{
                        width: 230px;

                        .picture{
                            height: 230px;
                        }
                        
                        .docInfo{
                            padding: 30px;

                            h2{
                                font-size: 1.3em;
                            }
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: 576px){
        .doctorSection{
            .container{
                .cards{
                    justify-content: center;
                    .card{
                        width: 90%;

                        .picture{
                            height: 380px;
                        }
                        
                        .docInfo{
                            padding: 30px;

                            h2{
                                font-size: 2em;
                            }

                            p{
                                font-size: .9em;
                            }

                            .sosmed{
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: 390px){
        .doctorSection{
            .container{
                .cards{
                    justify-content: center;
                    .card{
                        width: 100%;

                        .picture{
                            height: 350px;
                        }
                        
                        .docInfo{
                            padding: 30px;

                            h2{
                                font-size: 1.5em;
                            }

                            p{
                                font-size: .8em;
                            }

                            .sosmed{
                                width: 60%;
                            }
                        }
                    }
                }
            }
        }
    }
}